.header {
  display: flex;
  padding: 92px 51px;
  align-items: center;
  justify-content: space-between;
}

a:hover {
  color: #007bff;
}

.header__menu-list {
  display: flex;
  gap: 33px;
}

.header__menu-item {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  list-style: circle;
}

.header__no__list-style__item {
  list-style: none;
}

.header__menu-link_active {
  text-decoration: none;
}

.header__menu-link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.header__logo {
  display: block;
  width: 136px;
  height: auto;
  margin-left: 213px;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;

  line-height: 1.35;
}

.address a {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.header__address {
  margin-left: auto;
}

/* cover */

.cover * {
  z-index: 1;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 757px;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  right: 0;
}

.cover__title {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-size: 100px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.3em;
  color: #fff;
  text-transform: uppercase;
  padding: 165px 50px 134px 50px;
}

.aligned-text {
  line-height: 115%;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 50px;
  gap: 78px;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  font-family: "Raleway", sans-serif, serif;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  padding: 12px 32px;
}

/* lots */

.card * {
  z-index: 1;
}

/* list-items background-images */
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.lots {
  display: flex;
  flex-direction: column;
  padding: 180px 50px;
}

.lots__heading {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 47px;
  text-transform: uppercase;
  margin-left: 40px;
  padding-bottom: 27px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  gap: 25px;
}

.lots__card-list-item {
  min-height: 450px;
  flex-basis: 430px;
  flex-grow: 1;
}

.card-link {
  text-decoration: none;
}

.card {
  height: 100%;
  position: relative;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
}

.card__title {
  font-size: 22px;
  color: #fff;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-underline-position: under;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  line-height: 120%;
}

.lots__look-more-link {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  padding-top: 30px;
  padding-left: 40px;
  text-underline-position: under;
}

.about {
  display: grid;
  grid-template-columns: 1fr 71%;
  padding: 0 50px 180px 145px;
}

.about__logo {
  width: 240px;
  background-color: #000000;
  border-radius: 240px;
  padding: 63px 46px;
}

.about__logo-background {
  display: flex;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  max-height: 115px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 100px;
  padding-top: 100px;
}

.about__text {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px 90px 50px;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-list-item {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-link {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.footer__social-list {
  display: flex;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
