/* место для вашего кода */

.header {
  display: flex;
  padding: 92px 49px 96px 51px;
  align-items: center;
  justify-content: space-between;
}

.header__menu-list {
  display: flex;
  gap: 33px;
}

.header__menu-item {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  list-style: circle;
}

.header__no__list-style__item {
  list-style: none;
}

.header__menu-link_active {
  text-decoration: none;
}

.header__menu-link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.header__logo {
  display: block;
  width: 136px;
  height: auto;
  margin-left: 213px;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;

  line-height: 24.3px;
}

.address a {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.header__address {
  margin-left: auto;
}

/* cover */

.cover * {
  z-index: 1;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 757px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-size: 100px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 30px;
  color: #fff;
  text-transform: uppercase;
  padding: 165px 50px 147px 50px;
}

.aligned-text {
  line-height: 115%;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 50px;
  gap: 78px;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  font-family: "Raleway", sans-serif, serif;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  padding: 12px 32px;
}
